.letter{
	width: 15px; height: 20px;
	border: solid 1px #ccc;
	float: left;
	margin: 2px;
	padding: 2px 5px;
	font: 14px tahoma;
	text-align: center;
	cursor: pointer;
}

#mp_img{
	padding: 20px;
}

#mp_word{
	/*margin: 20px;*/
	height: 30px;
}

#msg{
	position: absolute;
	left: 60px; top: 80px;
	background-color: #eee;
	border: solid 1px #ddd;
	width: 80px;
	padding: 20px;
	text-align: center;
}