
[QtToJSLabels]
op0Label="Start Edit"
op1Label="Stop Edit"
op2Label="Shuffle"
op3Label="Check Response"
op4Label="Reload"
op5Label="Save"
op6Label="List Methods"

[QtToJSMessages]
op0Msg="startEditing();"
op1Msg="stopEditing();"
op2Msg="initialize();"
op3Msg="checkResponse();"
op4Msg="reload()";
op5Msg="save()";
op6Msg="listMethods()";
